.content{
    display: flex;
    margin: 20px 0 0 0;
    height: 300px;
    background-color: rosybrown;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.intro-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
    height: 290px;
    width: fit-content;
    max-width: 400px;
    border-radius: 10px;
    align-items: center;
}
.intro-image{
    border-radius: 10px;
    object-position: top;
    height: 300px;
}
.intro-text-head{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}
.intro-text-content{
    color: white;
    font-size: 18px;
    margin: 0;
    height: 100px;
    word-break: break-all;
}