.sport{
    display: flex;
    border-radius: 10px;
    height: 150px;
    background-color: white;
    margin: 15px 0 0 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 85%;
    box-shadow: none;
    max-width: 1000px;
    transition: height 0.35s, width 0.35s, box-shadow 0.35s;
    align-self: center;

}
.sport:hover{
    height: 175px;
    width: 87%;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
}
.sport:hover .sport-image{
    height: 175px;
    width: 175px;
}
.sport:hover .sport-info{
    height: 175px;
}
.sport:hover .sport-name{
    font-size: 24px;
}
.sport-image{
    border-radius: 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    transition: height 0.35s, width 0.35s;
}
.sport-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 75px;
    color: black;
    justify-content: center;
    margin: 0 0 0 5px;
    max-width: 600px;
    transition: height 0.35s, font-size 0.35s;
}
.sport-name{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    transition: font-size 0.35s;
}
.sport-description{
    font-size: 14px;
    margin: 5px 0;
    height: fit-content;

}
.sport-descriptions{
    margin-left: 10px;
}
.sports{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 5px 20px 25px 20px;
    background-color: rosybrown;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
}
.sports-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sports-info-head{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 15px 0;
    padding: 0 0 5px 0;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: white;
    width: 100%;
}
.sports-info-content{
    color: white;
    font-size: 18px;
    max-width: 700px;
}
.preparation{
    margin: 20px 0 0 0;
    padding: 5px 20px 25px 20px;
    background-color: rosybrown;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
}
.preparation-name{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 15px 0;
    padding: 0 0 5px 0;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: white;
}
.preparation-content-text{
    color: white;
    font-size: 18px;
    max-width: 500px;
    text-align: center;
    word-break: break-word;
}
.preparation-content-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.preparation-content{
    display: flex;
    justify-content: space-evenly;
}
.survey{
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
    margin-top: 20px;
    border-radius: 10px;
    scroll-behavior: smooth;
    height: 100%;
}
.eligible {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-head{
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 0 20px 5px 20px;
    border-bottom-style: solid;
    border-width: 2px;
}
.quiz-around-head{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rosybrown;
    height: 300px;
    padding: 0 20px;
    margin: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
    max-width: 360px;
}
.styled-form-background{
    border-radius: 10px;
}

